.App {
  text-align: center;
  color: #111;
}

#root {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.carousel-inner {
  position: relative;
  width: 100%;
  max-height: 90vh;
  overflow: hidden;
}

.carousel-caption h3 {
  font-size: calc(5.3rem + 0.6vw);
}
@media (max-width: 37.5em) {
  .carousel-caption h3 {
    font-size: calc(3.3rem + 0.6vw);
  }
  .carousel-caption p {
    display: none;
  }
}
@media (max-width: 20.625em) {
  .carousel-caption h3 {
    font-size: calc(2.3rem + 0.6vw);
  }
}

.section-collections {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
}
